<template name="header">
	<header class="header">
		<div class="header__left">
			<div class="header__logo">
				<a href="javascript:void(0);" id="logo">Logo</a>
			</div>
			<div class="header__title">
				<h1>{{title}}</h1>
			</div>
		</div>
		<div class="header__right">
			<ul class="global-nav">
				<li class="global-nav__item"><a href="/">Index</a></li>
				<li class="global-nav__item"><a href="/about" >About</a></li>
				<li class="global-nav__item"><a href="/venus">Venues</a></li>
				<li class="global-nav__item"><a href="/events">Events</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</header>
</template>